body {
    color: cadetblue;
    background-color: pink;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* Universal Selector*/
*{
    margin: 5%;
}
/* Class Selector */
.first {
    color: purple;
}
.large {
    font-size: 20px;
}
/* ID Selector */
#eklist {
    background-color: white;
}
/* Attribute Selector */

a[href="Upflairs.com"] {
    color: rgb(51, 46, 30);
    text-decoration: none;
}
input[type="text"] {
    background-color: purple;
    color: white;
}
/* Pseudo Selector */
.first:hover {
    color: aqua;
}
